body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 225px;
    display: flex;

}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    height: 75px;
    width: 150px;
    font-size: 20px;
}

#stay {
    height: 75px;
    width: 150px;
    font-size: 20px;
}

#play-again {
    height: 75px;
    width: 150px;
    font-size: 20px;
}

#chips {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 300px;

}

.chipsClass{
    margin-bottom: 20px;
    box-shadow:10px 12px 9px 7px rgba(0,0,0,1);
    border-radius:50%;
}


#cards {
    padding-left: 275px;
}

